{{define "footer"}}
<footer>Copyright &copy; 2015 | <a href="//signatures.cf">CurveSignatures</a> <span class="copyright-author">Design & Code by <a href="https://maciekmm.net">maciekmm</a></span> | <a href="http://p.yusukekamiyamane.com/">Icons</a></footer>
<script src="/public/js/main.js"></script>
</body>
</html>
{{end}}