{{define "header"}}<!DOCTYPE html>
<html lang="en">
<head>
  	<title>CurveSignatures - CurveFever signatures</title>
	<meta name="description" content="Show your curvefever skills by generating signature and putting it in forum posts">
	<link rel="stylesheet" href="/public/css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-54313520-2', 'auto');
	  ga('send', 'pageview');
	</script>
</head>
<body>
	<header>
  		<h1><a href="/"><img src="/assets/logo.png" alt="Curvesignatures logo">CurveSignatures</a></h1>
		<nav class="menu">
			<ul>
				<li><a href="/create">create</a></li>
				<li><a href="/api">docs</a></li>
				<li><a href="mailto:signatures.cf@maciekmm.net">contact</a></li>
			</ul>
		</nav>
	</header>

{{end}}